<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>

<div class="container">
<hr>
    <div class="card">
        <div class="card-header">
        <h2>New Article</h2>
        </div>
    <div class="card-body">
        <form method="POST" action="/admin/articles/save">
            <input class="form-control" type="text" name="title" placeholder="Insert article title"><br>
            <textarea id="article" class="form-control" name="body" placeholder="Insert a article here">
            </textarea><br>

            <label>Category</label>
            <select class="form-control" name="category">
                <% categories.forEach((category)=>{%>
                 <option value="<%= category.id %>"><%= category.title %></option>       
                <% }) %>
            </select>
            <br>    

            <button class="btn btn-success" type="submit">Save</button>
        </form>
    </div>
    </div>
    
</div>

<%- include ../../partials/footer.ejs %>
<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatime media save table paste emoticons'
        ]
    });
</script>